.carouselImg {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    height: 400px;
}

@media (max-width: 800px) and (min-height: 400px) {
    .carouselImg {
        width: 80%;
        height: 300px;
    }
}
